body {
    background-color: #bfd4fad2;
    font-family: Arial, sans-serif;
  }
/* Expense tracker title */
h3 {
    text-align: center;
    font-size: 20px;
    padding: 10px;
  }
  
  /* Center the form elements */
  form {
    max-width: 500px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
    
    

  }

  label {
    display: block;
    margin-bottom: 10px;
    color: #333;
  }

  input[id="amount"],
  input[id="description"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }

  select#category {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  }
  

  /* Submit button */
  .submit-button{
    background-color: #3a9fd1;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  /* Submit button hover effect */
  .submit-button:hover {
    background-color: #45a049;
  }

  .premium-button{
    background-color: #f4b42a;
    color: #231818;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center
  }
  #board {
    background-color: #796092; /* Set the background color to a shade of green */
    border: none; /* Remove the border */
    color: white; /* Set the text color to white */
    padding: 12px 24px; /* Add padding to the button */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from the text */
    display: block; /* Make the button inline */
    font-size: 16px; /* Set the font size */
    border-radius: 4px; /* Add rounded corners */
    cursor: pointer; /* Set the cursor to a pointer on hover */
    margin: auto;
    margin-bottom: 10px;
  }
  
  #board:hover {
    background-color: #3e8e41; /* Change the background color to a darker shade of green on hover */
  }
  #leaderboard-list {
    list-style: none;
    padding: 0;
    margin: 0 auto;
    width: 99%;
    box-shadow: 1px 1px 10px 0px rgba(0,0,0,0.2);
    border: 1px;
    background-color: #fff5f5d2;
    max-width: 500px;
  }
  #leaderboard-list li {
    
    border-radius: 4px;
    padding: 10px;
    margin: 10px auto;
    text-align: center;
    align-items: center;
    
  }


  #download {
    background-color: #246c84; /* Set the background color to a shade of green */
    border: none; /* Remove the border */
    color: white; /* Set the text color to white */
    padding: 12px 24px; /* Add padding to the button */
    text-align: center; /* Center the text */
    text-decoration: none; /* Remove underline from the text */
    display: block; /* Make the button inline */
    font-size: 16px; /* Set the font size */
    border-radius: 4px; /* Add rounded corners */
    cursor: pointer; /* Set the cursor to a pointer on hover */
    margin: auto;
    margin-top: 30px;
  }
  #download:hover {
    background-color: #3e8e41; /* Change the background color to a darker shade of green on hover */
  }

  ul#listOfExpenses {
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    
  }


  ul#listOfExpenses li {
    width: 99%;
    justify-content: space-between;
    align-items: center;
    background-color: #bfd4fad2;
    padding: 10px;
    margin:0 ;
    text-align: center;
    border-radius: 4px;
    
  }
  ul#listOfExpenses li:nth-child(even) {
    background-color: #ffffff;
  }

  .delete-btn{
    background-color: #f1a38d;
    color: #231818;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center
  }
  .delete-btn:hover {
    background-color: #fe2702;
  }

  .edit-btn{
    background-color: #b7b7a4;
    color: #231818;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 5px;
    text-align: center
  }
  .edit-btn:hover {
    background-color: #e12cee;
  }

  #itemsP {
    display: inline-block;
    margin-right: 10px;
  }
  
  #itemsP label {
    font-weight: bold;
    margin-right: 5px;
  }
  
  
  #items {
    width: 4%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
    margin: 0 auto 20px;
    text-align: center;
    align-items: center;
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
 
  }

  #pagination {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  #pagination button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 5px;
    cursor: pointer;
    border-radius: 5px;
    display: flex;
  justify-content: center;
  }
  
  .pagination button:hover {
    background-color: #3e8e41;
  }