body {
    font-family: Arial, sans-serif;
    background-color: #ccf9d0;
    /* background-image: url('./forgotpwd.png'); */
    background-size: cover;
    background-position: center center;
  }
  
  h3 {
    text-align: center;
    font-size: 28px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  
  form {
    width: 400px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 20px;
    box-shadow: 0 0 10px #ddd;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    box-sizing: border-box;
  }
  
  button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  button:hover {
    background-color: #555;
  }
  
  a {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #333;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: none;
    color: blue
  }